# Virtual environment
venv/

# Compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Database
db.sqlite3

# Static files
staticfiles/

# Media files
media/

# Local development settings
local_settings.py

# macOS system files
.DS_Store
